<!doctype html>
<html lang="pt">
<head>
  <title>CargoBrasil - Rastreio</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/fasesTransporte.js"></script>
</head>
<body>
<nav>
  <div class="topnav">
        <a href="listagem.html">TransLog</a>
        <a href="listagem.html">Lista de Pedidos</a>
        <a href="cadastrarPedido.html">Realizar Pedidos</a>
        <a href="rastreio.html">Rastrear Pedido</a>
      </div>
</nav>
<div class="row">
  <div class="column side"></div>
  <div class="column middle">
    <div class="login">
      <h2>Rastreio de Encomendas</h2>
      <div class="mb-3">
        <label for="trackingIdInput" class="form-label">Código de Rastreio</label>
        <input type="text" class="form-control" id="trackingIdInput" placeholder="Digite o código...">
      </div>
      <button type="button" class="btn btn-primary" onclick="getServico()">Rastrear</button>
    </div>
    <div id="resultado-rastreio" class="pedido" style="display: none; margin-top: 20px;">
      <h3>Detalhes do Pedido</h3>
      <div id="detalhes-pedido"></div>
    </div>
  </div>
  <div class="column side"></div>
</div>
</body>
</html>